<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- meta tags  -->
    <title>Login | Musify</title>
    <meta name="title" content="Login | Musify">
    <meta name="description" content="Musify is a way to listen to millions of songs without having to download them.">

    <!-- favicon -->
    <link rel="shortcut icon" href="/images/favicon.svg" type="image/svg+xml">

    
</head>


<body>
    <h1>
        Login Page
    </h1>
</body>

</html>